<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Success Prediction</title>
</head>
<body>
    <input type="text" placeholder="Enter student age" id="age">
    <input type="text" placeholder="Enter student study hours" id="study_hours">
    <input type="text" placeholder="Enter student failures " id="failures">
    <input type="text" placeholder="Enter student absences " id="absences">
    <input type="text" placeholder="Enter student g1  " id="g1">
    <input type="text" placeholder="Enter student g2  " id="g2">

    <button onclick="predict()">Predict Success</button>

</body>
</html></h2>